---
import SocialList from "@/components/SocialList.astro";
import TechnoList from "@/components/TechnoList.astro";
import PageLayout from "@/layouts/Base.astro";

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "AI-powered nutrition app offering personalized meal plans, macronutrient insights, and recipe suggestions. Integrated LLM and real-time calorie calculator with a responsive React front-end.",
		href: "https://github.com/igor-eremn",
		title: "MealMaster",
	},
	{
		desc: "Fitness website helping users find the right exercises for their training. Offers a variety of exercises, videos, and recommendations to support fitness goals.",
		href: "https://gym-enjoyer.netlify.app/",
		title: "GymEnjoyer",
	},
	{
		desc: "E-commerce site specializing in electronics, offering diverse product categories for users to find and purchase top gadgets.",
		href: "https://github.com/igor-eremn/online-store-site",
		title: "TechnoGood",
	},
	{
		desc: "Real-time chat application where users can register, join various chat rooms, stay connected and exchange messages in real time.",
		href: "https://github.com/igor-eremn/real-time-chat",
		title: "TalkSphere",
	},
	{
		desc: "History Tok is a React Native application featuring an infinite scroll of American history questions in a TikTok-like format.",
		href: "https://github.com/igor-eremn/learn-tok",
		title: "HistoryTok",
	},
];

const workExperience: { title: string; company: string; time: string;  }[] = [
	{
		title: "Web Developer",
		company: "SKYTRAC Systems",
		time: "May 2023 - May 2024",
	},
	{
		title: "Front End Dev",
		company: "Magnetic Elements",
		time: "May 2021 - Aug 2022",
	},
	{
		title: "IT Technician",
		company: "Apple - CNX",
		time: "Jun 2020 - Apr 2021",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			I am a <a class="cactus-link">full-stack developer</a> with 2 years of experience, with a 
			<a class="cactus-link">MERN stack</a> focus. I hold a Bachelor's degree in Computer Science 
			and have a solid foundation in both front-end and back-end development.
		</p>
		<p class="mb-4">
			I am <a class="cactus-link">eligible to work</a> in Canada. Currently based in Vancouver, BC, 
			I am open to relocation, offering a collaborative mindset to every team I work with.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Tech Stack</h2>
		<dl class="space-y-4">
			<TechnoList/>
		</dl>
	</section>
	
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<dl class="space-y-4">
			{
				workExperience.map(({ title, company, time }) => (
					<div class="flex flex-col gap-3 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" rel="noreferrer" href="/portfolio/experience">
									{title}
								</a>
								:
							</span>
						</dt>
						<dt>
							<span class="flex">
								<a rel="noreferrer">
									{time}
								</a>
							</span>
						</dt>
						<dt>
							<span class="flex ">
								<a rel="noreferrer">
									{company}
								</a>
							</span>
						</dt>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Personal Projects</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
	
</PageLayout>
