---
import SocialList from "@/components/SocialList.astro";
import TechnoList from "@/components/TechnoList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Fitness website that allows you to find the proper exercise for your training. With the help of great number of exercises, videos and recommendations, everyone can achieve their fitness goals easily.",
		href: "https://gym-enjoyer.netlify.app/",
		title: "GymEnjoyer",
	},
	{
		desc: "E-commerce website specialized in electronic devices, offering a wide range of categories and products. Users can easily find and purchase the best gadgets to meet their needs.",
		href: "https://github.com/igor-eremn/online-store-site",
		title: "TechnoGood",
	},
	{
		desc: "Real-time chat application where users can register, join various chat rooms, stay connected and exchange messages in real time.",
		href: "https://github.com/igor-eremn/real-time-chat",
		title: "TalkSphere",
	},
	{
		desc: "FoodFinder is a website designed to help users track nearby restaurants or find new places in any location. With options to add restaurants to your favorites and discover new spots, it connects food lovers with their favorite places and makes dining out easier.",
		href: "https://github.com/igor-eremn",
		title: "FoodFinder",
	},
	{
		desc: "History Tok is a React Native application featuring an infinite scroll of American history questions in a TikTok-like format.",
		href: "https://github.com/igor-eremn/learn-tok",
		title: "HistoryTok",
	},
];

const workExperience: { title: string; company: string; time: string;  }[] = [
	{
		title: "Web Developer",
		company: "SKYTRAC Systems",
		time: "May 2022 - May 2023",
	},
	{
		title: "Front End Dev",
		company: "Magnetic Elements",
		time: "May 2020 - Aug 2021",
	},
	{
		title: "IT Technician",
		company: "Apple - CNX",
		time: "Jun 2019 - Apr 2020",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			I am a <a class="cactus-link">full-stack developer</a> with 2 years of experience, with a 
			<a class="cactus-link">MERN stack</a> focus. I hold a Bachelor's degree in Computer Science 
			and have a solid foundation in both front-end and back-end development.
		</p>
		<p class="mb-4">
			I am <a class="cactus-link">eligible to work</a> in Canada. Currently based in Vancouver, BC, 
			I am open to relocation, offering a collaborative mindset to every team I work with.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Tech Stack</h2>
		<dl class="space-y-4">
			<TechnoList/>
		</dl>
	</section>

	
	{/*<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>*/}
	
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<dl class="space-y-4">
			{
				workExperience.map(({ title, company, time }) => (
					<div class="flex flex-col gap-3 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" rel="noreferrer">
									{title}
								</a>
								:
							</span>
						</dt>
						<dt>
							<span class="flex">
								<a rel="noreferrer">
									{time}
								</a>
							</span>
						</dt>
						<dt>
							<span class="flex ">
								<arel="noreferrer">
									{company}
								</arel=>
							</span>
						</dt>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Personal Projects</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
	
</PageLayout>
